* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 800px;
  background-color: #f1faee;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border: 5px solid #a8dadc;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.recipe-card {
  width: 800px;
  background-color: #fdfcf5;
  margin: 20px auto;
  padding: 20px;
  border: 5px solid #a8dadc;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #1d3557;
  margin-top: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.recipe-image {
  text-align: center;
  padding: 15px;
  margin: 20px auto;
  border-radius: 15px;
}

.recipe-list {
  list-style: none;
  margin-top: 50px;
  font-size: 20px;
}

.food-list {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #457b9d;
  font-weight: bold;
}

a:hover {
  color: #1d3557;
}

hr {
  border: none;
  border-top: 2px dashed #a8dadc; /* Dashed line like a knife cut */
  margin: 30px auto;
  width: 80%;
}

ul,
ol {
  list-style-position: inside;
}

button {
  margin: 10px auto;
  display: block;
  font-size: 20px;
}

.description {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.ingredients,
.instructions {
  font-size: 20px;
  padding: 10px;
}

.ingredients h2,
.instructions h2 {
  text-align: center;
}

h2 {
  padding-bottom: 10px;
}
